/* Custom Dotted Grid Background */
.bg-dotted-grid {
    background-color: #0b0b1d;
    /* Dark background */
    background-image: radial-gradient(#042f2e 1px, transparent 1px);
    background-size: 30px 30px;
}